// For more help, browse the DeviceTree documentation at 
//  https://docs.zephyrproject.org/latest/guides/dts/index.html

// You can also visit the nRF DeviceTree extension documentation at 
//  https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html

&i2c1 {
	status = "okay";
	shtcx@70 {
		compatible = "sensirion,shtcx";
		label = "SHTC3";
		reg = <0x70>;
		chip = "shtc3";
		measure-mode = "normal";
	};
};